<div class="footer-wrapper">
    <footer class="container">
        <div class="row">
            <div class="col-lg-12">
                &copy; 2020 Ryan Berliner
            </div>
        </div>
    </footer>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@10.19.0/dist/lazyload.min.js"></script>
<script type="text/javascript">
  var myLazyLoad = new LazyLoad({
      elements_selector: ".lazy"
  });
</script>
