---
title: Post Archive
layout: default
group: 'navigation'
order: 2
permalink: /archive
sitemap:
  lastmod: '2017-04-26'
  changefreq: 'weekly'
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Post Archive</h1>
      <p>The archive of all the posts I've ever done.</p>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">2017</a>
        </li>
      </ul>
    </div>
    <div class="col-md-12 archive-container">
      <div class="column-grid">
        {% for post in site.posts %}
          {% include post/post.html %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
