---
title: Photos
layout: default
group: 'navigation'
order: 3
permalink: /photos
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Photos.</h1>
      <p>Photos found throughout the site.</p>
    </div>
    <div class="col-md-12">
      <div class="row">
        {% for image in site.static_files %}
          {% if image.path contains 'img' %}
            <div class="col-md-4">
              <img class="photos-page" src="{{ site.baseurl }}{{ image.path }}" alt="blah">
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
