<script type="text/javascript">
	var showEmail = function() {
		var user = "ryan";
		var domain = "ryanberliner.com";
		var input = '<input type="text" value="' + user + '@' + domain + '" class="form-control email-shown">';
		var element = $("#show-email");
		element.html(input);
		element.addClass("pt-0 pb-0 pr-0 pl-0");
		element.removeAttr("id");
		$(".email-shown").select();
	}
	$(function () {
		$('[data-toggle="tooltip"]').tooltip();
		$(".navbar-collapse").on('show.bs.collapse', function (e) {
      $("header:not(.post-header)").addClass("dark");
    });
    $(".navbar-collapse").on('hide.bs.collapse', function (e) {
      $("header:not(.post-header)").removeClass("dark");
    });
	});
</script>
<header role="banner">
  <nav class="navbar navbar-toggleable-md navbar-inverse container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
      <span>R</span>
      Ryan Berliner
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% assign pages_list = site.pages | sort:"order" %}
        {% assign group = 'navigation' %}
        {% for node in pages_list %}
          {% if group == null or group == node.group %}
            {% if page.url == node.url %}
              <a class="nav-item nav-link active" href="{{node.url}}">{{node.title}} <span class="sr-only">(current)</span></a>
            {% else %}
              <a class="nav-item nav-link" href="{{node.url}}">{{node.title}}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
      </div>
    </div>
    <a href="https://github.com/RyanBerliner" class="social-icon hidden-md-down" title=""><img src="{{ site.baseurl }}/img/icons/github.png" alt="Github Logo"></a>
    <span id="show-email" onclick="showEmail();" class="btn btn-dark hidden-md-down">Show Email</span>
  </nav>
</header>
