@import "normalize";

/*Site Colors*/
$background-color: white;
$heading-color: #333333;
$text-color: #666666;
$light-grey: #d4d4d4;
$theme-color: #1E88E5;
$header-color: $theme-color;
$nav-link-color: #999999;

/*Fonts*/
$main-font-family: 'Vollkorn', serif;
$heading-font-family: Arial, sans-serif;

/*Mixins*/
@mixin page-padding {
    padding: 0 2rem;
    max-width: 800px;
    margin: 0 auto;
}

@mixin light-border-top {
    border-top: 1px solid $light-grey;
}

@mixin caption {
    margin-top: 0;
    font-size: .8rem;
    opacity: .9;
    text-align: center;
}

html {
    font-size: 20px;
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: $main-font-family;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    font-family: $heading-font-family;
    font-weight: bold;
    margin-top: 1.2em;
    margin-bottom: .5em;
    
    & + .caption {
        margin-top: -1em;
        text-align: left;
    }
}

p {
    margin: 1em auto;
}

a {
    color: $theme-color;
}

nav {
    background-color: $header-color;
    padding: 1rem 0;

    ul {
        @include page-padding;
        list-style: none;
        
        li {
            display: inline-block;
            padding-right: 1rem;
            float: right;
            
            a {
                color: $nav-link-color;
            }
        }
        
        &:after {
            content: " ";
            display: block;
            clear: both;
        }
    }
}

.page {
    @include page-padding;
    padding-bottom: 3.6rem;
}

.page:after {
    @include light-border-top;
    content: "by Ryan Berliner";
    font-size: .8rem;
    display: block;
    text-align: center;
    padding: 1em;   
}

section {
    @include light-border-top;
    margin-top: 2rem;
    padding-bottom: 3rem;
    
    & + section {
        margin-top: 0;
    }
}

.gist {
    .blob-wrapper {
        padding-top: .7rem !important;
        padding-bottom: .7rem !important;
    }
    
    td {
        line-height: 1.6;
    }
}

.caption {
    @include caption;
}

li {
    margin: .5em 0;
    font-size: .95rem;
}

figure {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    
    img {
        width: 100%;
    }
    
    figcaption {
        @include caption;
    }
}

code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 14px;
    background-color: white;
    border: 1px solid #dddddd;
    padding: .5em;
    border-radius: 2px;
    color: #4a3333;
}