---
---

// Colors
$white: #fbfbfb;
$text-main: #555555;
$text-darker: #333333;
$text-lighter: #888888;
$light-grey: #eceeef;
$black: #292b2c;

// Sizes
$border-radius: 2px;

html {
  font-size: 14px;
}

body {
  color: $text-main;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-darker;
}

main {
  overflow-x: hidden;

  & > .container:first-child {
    padding-top: 2rem;
  }

  & > .container:last-child {
    padding-bottom: 2rem;
  }
}

.post-meta {
  color: $text-lighter;
  font-size: .93rem;
}

div.footer-wrapper {
  background-color: $light-grey;
  padding: 1.5rem 0;
}

.fader {
  background-color: rgba(0,0,0,.7);
}

pre code {
  padding: 1rem !important;
}

img {
  width: 100%;
  margin-bottom: 1rem;
}

.white {
  color: $white;

  *:not(.btn):not(.badge) {
    color: $white;
  }
}

.multiple-post {
  background-size: cover;
  background-position: center;
  background-color: $light-grey;
  padding: 1.4rem;
  margin-bottom: 1.4rem;

  &.featured-post {
    padding-top: 4rem;
    padding-bottom: 3.2rem;
  }
}

.categories {
  margin-left: .5rem;
  position: relative;
  bottom: 2px;
}

img.photos-page {
  margin-bottom: 1rem;
}

.col-md-12.archive-container {
  padding-top: 1rem;
}

.boring-list {
  padding: 0;
  list-style: none;

  li {
    margin: 0 -15px;
    padding: 15px;
    padding-bottom: 5px;
    a {
      text-decoration: none;
      padding: .4em .6em 0 0;
      border-radius: $border-radius;

      &:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      background-color: $light-grey;
    }
  }
}

.boring-list li span.badge a {
  padding: 0;
  background-color: transparent;
  text-decoration: none;
}

.contact-list {
  padding: 0;
  list-style: none;
  margin: 0;
}

aside {
  margin-left: 20px;
//   padding-top: 2rem;
//   border-top: 2px solid $black;
}

@media (max-width: 991px) {
  aside {
    margin-top: 1rem;
    margin-left: 0;
  }
}

.yt-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin: 1rem auto 2rem auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

span.badge a {
  color: inherit;
  text-decoration: none;
}

.section-header {
  border-bottom: 1px solid $light-grey;
  padding-bottom: 1em;
}

.tags-container > div {
  padding-top: 2rem;
}

.example-with-code {
  border: 1px solid $light-grey;
  margin-bottom: 1rem;

  .example {
    padding: 1rem;
  }

  pre {
    margin-bottom: 0;
  }
}

// Bootstrap stuff
.navbar-collapse {
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media (min-width: 992px) {
  a.nav-link.nav-item {
    padding-top: .2em;
    padding-bottom: .2em;
    margin-top: .2em;
    margin-bottom: .2em;
    border-radius: $border-radius;
    cursor: default;

    &:not(.active):hover,
    &:not(.active):focus {
      background-color: darken($black, 4%);
      cursor: pointer;
    }
  }
}

@media (max-width: 991px) {
  a.nav-link.nav-item:not(:last-child) {
    border-bottom: 1px solid lighten($black, 10%);

  }
}

.jumbotron {
  border-radius: 0;
  background-position: center;
  background-size: cover;
  background-color: $light-grey;
}

.btn {
  border-radius: $border-radius;
  border: none;
}

.nav-tabs .nav-link.active {
  background-color: $white;
}

.row.more {
  margin-right: -1.4rem;
  margin-left: -1.4rem;
}

.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}

// Individual Posts

img {
  margin: 0;
}

.radio-slider-container {
  position: relative;

  input[type="radio"].slider-control {
    height: 0px;
    width: 0px;
    display: inline;
    line-height: 0;
    opacity: 0;

    &:first-child:checked + * + * + .slider-controls + .slider-container .slider-container-flex {
      right: 0px;
    }

    &:nth-child(2):checked + * + .slider-controls + .slider-container .slider-container-flex {
      right: 500px;
    }

    &:nth-child(3):checked + .slider-controls + .slider-container .slider-container-flex {
      right: 1000px;
    }

    // I didn't feel like counting, so I just did every possibility.
    &:focus + * + * + * + * + * + .slider-container,
    &:focus + * + * + * + * + .slider-container,
    &:focus + * + * + * + .slider-container,
    &:focus + * + * + .slider-container,
    &:focus + * + .slider-container,
    &:focus + .slider-container {
      box-shadow: 0px 12px 29px -13px black;
      position: relative;
      z-index: 2;
      border-radius: 5px;
      transform: scale(1.2);

      & + .fader {
        height: 100vh;
        width: 100vw;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1
      }
    }
  }

  .slider-container {
    width: 500px;
    overflow-x: hidden;
    margin: 0 auto;
    margin-bottom: 2rem;
    position: relative;
    right: 0;
    transition: .3s all;

    .slider-container-flex {
      position: relative;
      display: flex;
      width: 1500px;
      transition: .3s right cubic-bezier(0.75, -0.01, 0.27, 1.01);

      .slide {
        width: 500px;
      }
    }
  }
}

.radio-slider-container label {
  width: 6px;
  height: 6px;
  margin-right: 3px;
  display: inline-block;
  background-color: white;
  margin-left: 3px;
  border-radius: 50%;
  margin-bottom: 0;
  transition: .15s all;
  cursor: pointer;
}

.slider-control:first-child:checked + input + input + .slider-controls > label:first-child,
.slider-control:nth-child(2):checked + input + .slider-controls > label:nth-child(2),
.slider-control:nth-child(3):checked + .slider-controls > label:nth-child(3) {
  width: 10px;
  height: 10px;
}

.slider-controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 25px;
  z-index: 100;
  display: flex;
  align-items: center;
  background-color: rgba(53, 53, 53, 0.61);
  padding: .5em;
  border-radius: 15px;
}
