html {
  font-size: 16px;
  overflow-x: hidden;
}
body, .hljs {
  color: $white;
  background-color: $black;
  &:not(.hljs) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $white;
  font-weight: 700;
}

p {
	margin-bottom: 1rem;
}

img {
  width: 100%;
  margin-bottom: 1rem;
}

a {
  color: $white;
  &:hover,
  &:focus {
    color: darken($white, 10);
  }
}

img {
  border-radius: $border-radius;
  @include rb-drop-shadow;
}
