// Colors
$white: #dadee7;
$dark-gray: #323741;
$black: #22252e;

$brown: #795548;
$green: #388E3C;
$orange: #E64A19;
$blue: #1976D2;
$mustard: #bd9d4d;
$red: #ef4646;

// Sizes
$border-radius: .25rem;
