---
layout: default
---
<div class="jumbotron home">
    <div class="container">
        <div class="row">
            {{ content }}
        </div>
    </div>
</div>
<div class="home container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="page-heading">Recent Posts</h3>
            <ul class="post-list">
                {% for post in site.posts %}
                    <li>
                        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
                        <span class="post-meta">{{ post.date | date: date_format }}</span>

                        <h2>
                        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                        </h2>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
