header:not(.post-header) {
  background-color: $black;
  .navbar-brand {
    span {
      display: inline-block;
      background-color: $dark-gray;
      padding: .05em 0.5em;
      font-size: 1.2em;
      font-weight: bold;
      margin-right: 8.9px;
      border-radius: $border-radius;
      margin-top: -4px;
      @include rb-drop-shadow;
    }
  }
  img {
    width: 105px;
    margin-top: -4px;
    margin-bottom: 0;
  }

}
