@media (min-width: 992px) {
  a.nav-link.nav-item {
    padding-top: .2em;
    padding-bottom: .2em;
    margin-top: .2em;
    margin-bottom: .2em;
    cursor: default;
    transition: .15s all;
		border-bottom: 2px solid transparent;
		position: relative;
		top: 2px;

    &:not(.active):hover,
    &:not(.active):focus {
			color: $white;
      border-bottom: 2px solid $white;
			cursor: pointer;
    }
  }
}

@media (max-width: 991px) {
  a.nav-link.nav-item:not(:last-child) {
    border-bottom: 1px solid $object_bg_black;
  }
}

header .btn.btn-dark {
  margin-left: .75rem;
	cursor: pointer;
	transition: 0s all;

	&.no-padding {
		padding: 0;
	}
	input.form-control {
		width: 200px;
		background-color: transparent;
		color: white;
	}
}

header:not(.post-header) {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 2, 0.3);
  z-index: 100;

  .navbar-brand {
    span {
      display: inline-block;
      background-color: $object_bg_black;
      padding: .05em 0.5em;
      font-size: 1.2em;
      font-weight: bold;
      margin-right: 8.9px;
      border-radius: $border-radius;
    }
  }
}
