.post-meta {
  color: $text-lighter;
  font-size: .93rem;
}

.post-link {
  font-size: 1.1em;
}

.small-p {
  font-size: .8em;
}

.multiple-post {
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  padding: 1.4rem;
  margin-bottom: 1.4rem;
  border-radius: $border-radius;
  display: inline-block;

  @include box-shadow;

  &.featured-post {
    padding-top: 4rem;
    padding-bottom: 3.2rem;
  }
}

.categories {
  margin-left: .5rem;
  position: relative;
  bottom: 2px;
}

span.badge a {
  color: inherit;
  text-decoration: none;
}

.example-with-code {
  border: 1px solid $light-grey;
  margin-bottom: 1rem;

  .example {
    padding: 1rem;
  }

  pre {
    margin-bottom: 0;
  }
}

span.bike {
  background-color: #795548; // brown
}

span.dev {
  background-color: $black;
}

span.photo {
  background-color: #388E3C; // green
}

span.video {
  background-color: #E64A19; // orange
}

span.web {
  background-color: #1976D2; // blue
}

span.random {
  background-color: #FBC02D;
  a {
    color: $text-main;
  }
}
