
.post-meta {
  color: $text-lighter;
  font-size: .93rem;
}

.multiple-post {
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  padding: 1.4rem;
  margin-bottom: 1.4rem;
  border-radius: $border-radius;
  @include box-shadow;

  &.featured-post {
    padding-top: 4rem;
    padding-bottom: 3.2rem;
  }
}

.categories {
  margin-left: .5rem;
  position: relative;
  bottom: 2px;
}

span.badge a {
  color: inherit;
  text-decoration: none;
}

.example-with-code {
  border: 1px solid $light-grey;
  margin-bottom: 1rem;

  .example {
    padding: 1rem;
  }

  pre {
    margin-bottom: 0;
  }
}

span.bike {
  color: #795548;
  a {
    color: #795548;
  }
}
